.Homepage {
  width: 100vw;
}

.Homepage .homepage-main {
  margin: 50vh auto auto 200px;
  width: fit-content;
}

.Homepage button {
  margin: 20px 20px 20px 0;
  padding: 20px;
  width: 180px;
  height: 65px;
  border: 0;
  border-radius: 5px;
  background-color: var(--accent-color1);
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-lightcolor1);
}

.Homepage .input {
  margin: 20px 20px 20px 0;
  padding: 20px;
  width: 230px;
  height: 65px;
  border: 2px dashed;
  border-radius: 5px;
  background-color: transparent;
  border-color: var(--accent-color1);
  font-size: 16px;
  font-weight: bold;
}

.UserPage {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.MeetingRoom {
  background-color: var(--primary-lightcolor1);
  height: 100vh;
  flex: 3;
  min-width: 600px;
}

.MeetingRoom .meetingroom-main {
  margin: 50vh auto auto 200px;
  width: fit-content;
}

.PlayerTab {
  background-color: var(--primary-lightcolor2);
  height: 100vh;
  flex: 2;
  min-width: 400px;
  padding: 20px 50px;
}

.Player {
  display: flex;
  flex-direction: column;
  height: 250px;

}

.Player .controls {
  display: flex;
  margin: 50px auto;
  height: fit-content;
}

.Player .button {
  border: 0px;
  width: 65px;
  height: 65px;
  margin: 15px;
  border-radius: 65px;
  background-color: var(--accent-color1);
  color: var(--primary-lightcolor1);
}

.Playlist {
  overflow: auto;
  height: 65vh;
  min-height: 500px;
}

.Track {
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 1px 0px 0px var(--primary-lightcolor3);
  display: flex;
  justify-content: space-between;
}

.current {
  background-color: var(--primary-lightcolor3);
}

.button-container {
  display: inline-flex;
}

.Track .button {
  visibility: hidden;
  font-size: 10px;
}

.Track h4 {
  min-height: 30px;
}

.Track:hover .button {
  visibility: visible;
  border: 0px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: var(--primary-darkcolor1);
  color: var(--primary-lightcolor1);
}

.Track:hover .remove-btn {
  background-color: transparent;
  color: var(--primary-darkcolor1);
  font-size: 20px;
}

.Track .pause-btn:hover, .play-btn:hover {
  box-shadow: 0px 0px 10px 1px var(--primary-lightcolor3);
}

.Track .remove-btn:hover {
  text-shadow: 0px 0px 10px 1px var(--primary-lightcolor3);
}

.Playlist::-webkit-scrollbar-track
{
  background-color: var(--primary-lightcolor1);
}

.Playlist::-webkit-scrollbar-thumb
{
  background-color: var(--primary-darkcolor1);
}

.UtilitiesTab { 
  height: 100vh;
  flex: 1;
  min-width: 200px;
}

.Search {
  background-color: var(--primary-darkcolor1);
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Search form {
  display: flex;
}

.Search .button {
  border: 0px;
  min-width: 65px;
  height: 65px;
  border-radius: 65px;
  background-color: transparent;
  color: var(--primary-lightcolor1);
  font-size: 26px;
}

.Search .input {
  border: 0px;
  height: 65px;
  padding: 15px;
  min-width: 130px;
  border-radius: 65px;
  background-color: transparent;
  color: var(--primary-lightcolor1);
  font-size: 16px;
}

.Search:hover .button {
  animation: search-btn 0.2s forwards;
}

@keyframes search-btn {
  to {
    /* background-color: var(--primary-lightcolor3); */
    /* color: var(--primary-darkcolor1); */
    /* box-shadow: 0px 0px 10px 1px var(--primary-lightcolor3); */
    color: var(--primary-lightcolor3);
  }
}

.SearchResult {
  overflow-y: scroll;
  overflow-x: hidden;
}

.SearchItem {
  color: var(--primary-lightcolor3);
  padding: 5px 0;
  margin: 5px;
  box-shadow: 0px 1px 0px 0px var(--primary-lightcolor3);
  display: flex;
  justify-content: space-between;
}

.SearchItem .add-button {
  visibility: hidden;
}

.SearchItem:hover .add-button {
  visibility: visible;
  border: 0px;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: var(--primary-lightcolor3);
  color: var(--primary-darkcolor1);
}

.SearchItem .add-button:hover {
  box-shadow: 0px 0px 10px 1px var(--primary-lightcolor2);
}

.Search ::-webkit-scrollbar-track
{
  background-color: var(--primary-lighcolor1);
}

.Search ::-webkit-scrollbar-thumb
{
  background-color: var(--primary-lightcolor2);
}

.Options {
  background-color: var(--accent-color1);
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.Options .button {
  border: 0px;
  width: 65px;
  height: 65px;
  margin: 15px;
  border-radius: 65px;
  background-color: var(--primary-lightcolor2);
  color: var(--primary-darkcolor1);
  font-size: 26px;
}

.button:hover {
  animation: btn 0.2s forwards;
}

@keyframes btn {
  to {
    box-shadow: 0px 0px 10px 1px var(--primary-lightcolor3);
  }
}