:root {
  --primary-lightcolor1: white;
  --primary-lightcolor2: #EDF4F8;
  --primary-lightcolor3: #99B0B9;
  --primary-darkcolor1: #2C2B32;
  --accent-color1: #F64945;
  --accent-color2: #B7E3E1;
  --accent-color3: #F8AA37;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
